<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NinjaStrike</title>
    <link rel="icon" href="{{ url_for('static', filename='images/favicon.ico') }}?v=1" type="image/x-icon">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <header>
        <h1>Register</h1>
        <nav>
            <a href="/">Home</a>
            <a href="/profile">Profile</a>
            <a href="/login">Login</a>
        </nav>
    </header>
    <main>
        <h2>Register</h2>
        <form method="POST">
            <input type="text" name="username" placeholder="Username" required>
            <input type="submit" value="Register">
        </form>
    </main>
    <footer>
        <p>&copy; 2024 Moja Flask Aplikacija</p>
    </footer>
</body>
</html>